// Variables
$primary-color: #101010;
// $secondary-color: #ffc758;
// $secondary-color: #ffe79f;
$secondary-color: #ffcb62;
$tertiary-color: #ffcb62;
$light-color: #f4f4f4;
$medium-color: rgb(136, 136, 136);
$dark-color: #202020;
