.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.current {
  a {
    border-bottom: 2px solid $light-color;
  }
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

// Headings
.l-heading {
  font-size: 5rem;
}
.m-heading {
  font-size: 3.5rem;
}
.s-heading {
  font-size: 2rem;
}

// Text
.l-text {
  font-size: 3rem;
}
.m-text {
  font-size: 1.67rem;
}
.s-text {
  font-size: 0.5rem;
}

// Text position
.text-center {
  text-align: center;
}

// Text color
.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.text-light {
  color: $light-color;
}

// Margins
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

// Paddings
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

// y axis
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

// Backgrounds
.bg-dark {
  background-color: $dark-color;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-light {
  background-color: $light-color;
}

.btn {
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-primary {
  background: $primary-color;
  padding: 1.2rem 1.8rem;
  border: none;
  color: $light-color;
  font-family: "Montserrat", sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.btn-secondary {
  background: $secondary-color;
  padding: 1.2rem 1.8rem;
  border: none;
  color: $primary-color;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.btn-dark {
  width: 1268px;
  background: $dark-color;
  padding: 1.2rem 1.8rem;
  border: none;
  color: $light-color;
  font-family: "Montserrat", sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.btn-light {
  background: $light-color;
  padding: 1.2rem 1.8rem;
  border: none;
  color: $primary-color;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.bottom-line {
  margin: 1.5rem auto;
  width: 15%;
  height: 1px;

  &-primary {
    background: $dark-color;
    height: 3px;
  }

  &-secondary {
    background: $secondary-color;

    &-short {
      width: 7%;
    }

    &-long {
      width: 25%;
    }
  }
}
