@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: $dark-color;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(0, 0, 0, 0.20);
  transition: background 0.5s ease-in;

  .navbar-content {
    height: 5rem;
    max-width: 1268px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.4s ease-in-out;

    .phone {
      display: flex;
      align-items: center;
      color: $light-color;
      font-weight: 500;

      img {
        margin-right: 0.8rem;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      color: #ffe79f;

      // TODO: Make logo to be fully image, i.e. get rid of h2
      h2 {
        font-weight: normal;
        font-size: 1.4rem;
        text-transform: uppercase;
      }

      img {
        height: 45px;
        margin-right: 10px;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-left: 2rem;
    }

    li {
      display: flex;
      align-items: center;
      padding-right: 2rem;
      height: 100%;

      a {
        font-size: 0.85rem;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        padding-bottom: 0.15rem;
        transition: border-color 0.5s;

        &.current {
          border-color: $secondary-color;
        }

        &:hover {
          border-color: $light-color;
        }
      }
    }
  }
}

// Showcase area
#showcase {
  // Slider
  #slider,
  .slide-container {
    width: 100%;
    height: 100vh;
  }

  .wrap {
    top: 5rem;

    // Arrows
    .arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      text-shadow: 0 0 3px $dark-color;
      color: $secondary-color;
      z-index: 2;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $light-color;
      }

      &-left {
        left: 0;
        margin-left: 30px;
      }
      &-right {
        right: 0;
        margin-right: 30px;
      }
    }

    #slider {
      .slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // todo fix shadow
        // text-shadow: 0 0 35px $dark-color;

        .slide-container {
          text-align: center;
          position: relative;
          z-index: 1;

          // Dark Overlay
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          .slide-content {
            position: absolute;
            color: $light-color;
            height: 100%;
            z-index: 2;
          }
        }

        &-1 {
          background-image: url("../img/slider/slide1.jpg");
          

          .slide-container {
            // border-bottom: 1px solid #292929;
            display: flex;
            align-items: center;

            &::before {
              background-image: linear-gradient(
                90deg,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0)
              );
            }

            .slide-content {
              display: flex;
              align-items: center;
              text-align: left;
              width: 42%;
              height: 40%;
              margin-left: 17%;
              border-left: 1px solid #3f3f3f;
              padding-left: 3.5rem;

              p {
                color: #ffe79f;
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: 1.8rem;
                padding-top: 1rem;
                text-transform: uppercase;
              }

              h2 {
                text-transform: uppercase;
                margin-left: -7px;
                font-size: 4rem;
                font-weight: 700;
                padding-bottom: 0.8rem;
                line-height: 4.3rem;
                // border-bottom: 2px solid $secondary-color;
              }

              span {
                display: block;
                padding-bottom: 0.5rem;
              }

              .bottom-line {
                justify-content: flex-start;
              }
            }
          }
        }

        &-2 {
          background-image: url("../img/slider/slide2.jpg");

          .slide-container {
            display: flex;
            align-items: center;

            &::before {
              background-image: linear-gradient(
                90deg,
                rgba(10, 10, 10, 1),
                rgba(10, 10, 10, 0)
              );
            }

            .slide-content {
              width: 50%;
              height: 40%;
              border-left: 1px solid #7c6a39;
              margin-left: 17%;

              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 3.5rem;
              text-align: left;
              font-weight: 500;
              text-transform: uppercase;

              h3 {
                margin-left: -6px;
                padding-bottom: 1.5rem;
                font-size: 4rem;
              }

              ul {
                font-size: 2rem;

                li {
                  margin-bottom: 0.7rem;
                }
              }
            }
          }
        }

        &-3 {
          background-image: url("../img/slider/slide3.jpg");

          .slide-container {
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
              background-image: linear-gradient(
                90deg,
                rgba(10, 10, 10, 1),
                rgba(10, 10, 10, 0.1)
              );
            }

            .slide-content {
              display: flex;
              align-items: center;

              // span {
              //   border-bottom: 1px solid $secondary-color;
              // }
            }
          }
        }

        .text-bottom {
          height: 5rem;
          background: $primary-color;
          font-size: 4rem;
          color: $light-color;
        }
      }
    }
  }
}

// Photo Gallery
#gallery {

  .gallery-wrap {
    padding-bottom: 5rem;
    background: linear-gradient(
      90deg,
      $primary-color 50%,
      $dark-color
    );


    .gallery-heading {
      padding: 2.8rem 0;
      background: linear-gradient(
        90deg,
        $primary-color 50%,
        $dark-color
      );

      h2 {
        color: $light-color;
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 0.2rem;

        span {
          color: $secondary-color;
          font-weight: 700;
        }
      }

      p {
        color: $light-color;
        font-size: 1.1rem;
        padding: 0.3rem 0;
      }
    }

    .photos {
      overflow: hidden;

      .imgs {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.7rem;

        .img-wrapper {
          overflow: hidden;
          padding: 0;

          &:hover img {
            transform: scale(1.15);
            cursor: pointer;
          }

          img {
            width: 100%;
            display: block;
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
}

// Services
#services {
  width: 100%;
  padding-bottom: 4rem;

  background: url("../img/showcase.jpg") no-repeat right top/cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
  }

  .services-wrap {
    z-index: 2;
    position: relative;

    .services-heading {
      padding: 3rem 0;

      h2 {
        color: $light-color;
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;

        span {
          color: $secondary-color;
          font-weight: 700;
        }
      }

      p {
        color: $light-color;
        font-size: 1.1rem;
        padding: 0.3rem 0;
      }
    }

    .services-wrapper {
      max-width: 1268px;
      margin: 0 auto;

      .services-block {
        color: $primary-color;

        .category {
          margin-bottom: 20px;
          background: $light-color;
          transition: all 0.45s ease;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 8px rgba(255, 192, 70, 0.7);

            // TODO: make text effects on hover
            .collapsible {
              transition: all 0.6s ease;

              li:hover {
                border-bottom: 1px solid red;
              }
            }
          }

          /* Scrollbar */
          ::-webkit-scrollbar {
            width: 4px;
          }
          /* Track */
          ::-webkit-scrollbar-track {
            width: 4px;
            border-right: 1px solid #333;
          }
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #333;
          }

          ul {
            padding: 0 2rem 1.5rem 2rem;

            &:hover {
              cursor: default;
            }

            li {
              padding: 0.3rem 0;
              line-height: 1.5;
            }
          }

          .collapsible {
            position: relative;
            font-size: 1.5rem;
            padding: 2rem 2rem;
            font-weight: 400;

            .expand-icon {
              position: absolute;
              top: 2.35rem;
              right: 2rem;
              background: url("../img/plus.png") no-repeat center center/cover;
              height: 1.2rem;
              width: 1.2rem;
              color: $dark-color;
            }
          }

          .content {
            overflow: auto;
            max-height: 0;
            transition: max-height 0.5s ease-out;
          }
        }
      }
    }
  }
}

// Contacts
#contacts {
  width: 100%;
  background: $secondary-color;

  .contacts-heading {
    padding-top: 2rem;
    position: relative;
    color: $dark-color;

    h3 {
      font-size: 2.4rem;
      font-weight: 600;
      // padding-bottom: 0.5rem;
    }
  }

  .container {
    max-width: 1268px;
    padding-bottom: 3rem;

    form {
      padding-top: 1rem;
      position: relative;

      .text-fields {
        display: grid;
        grid-template-areas:
          "name"
          "email"
          "message";
        gap: 1.2rem;
        margin-bottom: 1.2rem;

        //  Grid Areas
        .name-input {
          grid-area: name;
        }

        .email-input {
          grid-area: email;
        }

        .message-input {
          grid-area: message;
          height: 100px;
        }

        .text-input {
          background: $dark-color;
          border: none;
          font-family: "Montserrat", sans-serif;
          font-size: 0.9rem;
          padding: 1rem 1.5rem;
          color: $light-color;

          &::placeholder {
            color: $medium-color;
          }
        }
      }

      p {
        margin: 2rem;
      }
    }
  }
}

// Phone number
#phone-section {
  background: $dark-color;
  color: $light-color;
  padding: 2rem 0;

  .container {
    position: relative;
  }

  .phone-number {
    color: $light-color;
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  p {
    font-size: 1.7rem;
    font-weight: 500;
  }
}

section.up-button {
  position: fixed;
  bottom: 6.5rem;
  right: 3rem;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s ease-in;
  z-index: 100;

  i {
    padding: 1rem;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: $tertiary-color;
      color: $tertiary-color;
    }
  }
}

// Footer
#footer {
  background: $primary-color;

  .footer-content {
    position: relative;
    padding: 2rem 0;
    text-align: center;
    color: $light-color;
    font-size: 0.9rem;
    word-spacing: 0.15rem;

    .social {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .container {
        width: 1268px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          padding-left: 0.8rem;
          img {
            height: 2.2rem;
          }
        }

        .icons {
          display: flex;

          .icon {
            a {
              &:hover {
                color: $secondary-color;
              }
            }
            padding-right: 0.8rem;
          }
        }
      }
    }
  }
}

// Fancybox customizing
.fancybox-navigation .fancybox-button {
  padding: 26px 6px 26px 16px;
}

// Import Media Queries
@import 'media';